<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:group {"className":"blk-PageTitle","layout":{"type":"constrained","contentSize":"1480px"}} -->
<div class="wp-block-group blk-PageTitle"><!-- wp:post-title {"fontSize":"size-40"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"100px","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1480px"}} -->
<div class="wp-block-group" style="margin-top:100px;margin-bottom:0"><!-- wp:post-content {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->