@use "sass:math";

.wp-block-buttons.blk-AnchorList {
  align-items: stretch;
  gap: 15px;

  .wp-block-button {
    display: flex;
    width: calc(33.333333% - (var(--wp--preset--spacing--size-15) * 0.6667));

    @media (max-width: 1000px) {
      width: calc(50% - (var(--wp--preset--spacing--size-15) * 0.5));
    }

    .wp-block-button__link {
      background-color: var(--wp--preset--color--gold-yellow);
      border-color: var(--wp--preset--color--gold-yellow);
      font-size: var(--wp--preset--font-size--size-16);
      font-weight: 400;
      height: 100%;
      min-height: clamp(3.75rem, 3rem + 3.2vw, 5rem);
      padding-left: 20px !important;
      padding-right: clamp(1.875rem, -0.188rem + 8.8vw, 5.313rem);
      text-align: left;

      &:hover {
        background-color: var(--wp--preset--color--white);
      }

      &::after {
        background-image: url(../images/icon-anchor.svg);
      }
    }
  }
}