@use "sass:math";

.wp-block-file {
  padding: 0 !important;

  a:not(.wp-element-button) {
    background-color: var(--wp--preset--color--white);
    border-radius: 8px;
    color: currentColor;
    display: flex;
    gap: 20px;
    overflow: hidden;
    padding: var(--wp--peset--spacing--size-16, 16px) var(--wp--preset--spacing--size-24, 24px) var(--wp--peset--spacing--size-16, 16px) var(--wp--preset--spacing--size-20, 20px) !important;
    position: relative;
    text-decoration: none;
    transition: background-color .3s;

    &:hover {
      background-color: var(--wp--preset--color--green-white);
    }

    &::before {
      align-items: center;
      background-color: var(--wp--preset--color--gray);
      border-radius: 8px 0 0 8px;
      color: var(--wp--preset--color--white);
      content: 'FILE';
      display: flex;
      justify-content: center;
      margin:
        calc(var(--wp--peset--spacing--size-16, 16px) * -1)
        0
        calc(var(--wp--peset--spacing--size-16, 16px) * -1)
        calc(-1 * var(--wp--preset--spacing--size-20, 20px));
      width: 55px;
    }

    &[href$=".pdf"]::before {
      background-color: #CE3D3D;
      content: 'PDF';
    }

    &[href$=".doc"]::before,
    &[href$=".docx"]::before {
      background-color: #0F4288;
      content: 'Word';
    }

    &[href$=".xls"]::before,
    &[href$=".xlsx"]::before {
      background-color: #0B7C32;
      content: 'Excel';
    }

    &[target*="_blank"] {
      &::after {
        background-image: url(../images/icon-external.svg);
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 12px;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 12px;
      }
    }
  }
}