@use "sass:math";

.wp-block-flexible-table-block-table {
  figcaption {
    background-color: var(--wp--preset--color--lilac-gray);
    font-size: var(--wp--preset--font-size--18);
    font-weight: 700;
    margin: 0 0 1px;
    padding: clamp(0.625rem, 0.25rem + 1.6vw, 1.25rem);
  }
}