/**
 * Header
 */

.blk-Header {
  .wp-block-template-part:has(&) {
    padding: 20px 0;
    position: sticky;
    top: var(--wp-admin--admin-bar--height, 0);
    transition: background-color .3s;
    width: 100%;
    z-index: 100;
  }

  .wp-block-template-part:has(&.is-style-open) {
    @media (max-width: 1100px) {
      background-color: var(--wp--preset--color--green-white);
      height: 100vh;
      overflow-y: scroll;
    }
  }

  &__Wrapper {
    @media (max-width: 1100px) {
      display: block !important;
      padding-right: 40px !important;
      position: relative;
    }
  }

  &__Content {
    @media (max-width: 1100px) {
      align-items: center !important;
      flex-direction: column-reverse;
      height: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0 !important;
      pointer-events: none;
      transition: opacity .3s;
      visibility: hidden;
    }

    .is-style-open & {
      @media (max-width: 1100px) {
        height: auto;
        opacity: 1;
        overflow: visible;
        padding-top: 70px !important;
        pointer-events: all;
        visibility: visible;
      }
    }

    .wp-block-navigation {
      ul {
        gap: 50px;

        @media (max-width: 1100px) {
          flex-direction: column;
        }
      }
    }
  }

  &__Info {
    @media (max-width: 1100px) {
      flex-direction: column !important;
      margin-top: 80px !important;
    }

    .wp-block-buttons,
    .blk-Search {
      @media (max-width: 1100px) {
        display: none;
      }
    }
  }

  :where(.wp-block-group.has-background) {
    border-radius: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .wp-block-site-logo {
    img {
      width: clamp(11rem, 7.662rem + 14.24vw, 16.563rem);
    }
  }

  &_SpButtons {
    display: none !important;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 30px;
    transform: translate(0, -50%);

    @media (max-width: 1100px) {
      display: flex !important;
    }

    @media (max-width: 781px) {
      top: 20px;
    }
  }
}