@use "sass:math";

.blk-PageList {
  .wp-block-buttons {
    align-items: stretch;
    gap: clamp(1.25rem, 0.125rem + 4.8vw, 3.125rem) !important;

    + .wp-block-buttons {
      margin-top: 20px;
    }

    .wp-block-button {
      &.wp-block-button__width-50 {
        width: calc(50% - (clamp(1.25rem, 0.125rem + 4.8vw, 3.125rem) * .5));

        @media (max-width: 781px) {
          width: 100%;
        }
      }

      .wp-block-button__link {
        align-items: center;
        display: flex;
        font-size: var(--wp--preset--font-size--20);
        min-height: 100px;
        justify-content: flex-start;
        padding-left: clamp(1.25rem, 0.875rem + 1.6vw, 1.875rem);
        padding-right: clamp(2.875rem, 2.5rem + 1.6vw, 3.5rem);

        @media (max-width: 1000px) {
          min-height: 50px;
        }
      }
    }
  }
}