@use "sass:math";

.tagline-pickup-block {
  aspect-ratio: 257 / 150;
  background: #f8f8f8;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: calc(-159px) !important;

  @media (max-width: 1100px) {
    aspect-ratio: 1 / 1;
  }

  @media (max-width: 781px) {
    aspect-ratio: unset;
    margin-top: calc(-80px) !important;
    height: calc(math.div(738, 375) * 100vw);
    max-height: 738px;
  }

  &::after {
    aspect-ratio: 608.4 / 475.58;
    background-image: url(./cover-img03.svg);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: calc(math.div(92, 1920) * 100vw * -1);
    content: '';
    display: block;
    left: calc(math.div(63, 1920) * 100vw * -1);
    position: absolute;
    width: calc(math.div(608.4, 1920) * 100vw);
  }

  > div {
    height: 100%;
    overflow: hidden;
    position: relative;

    &::before {
      background-image: url(./cover-img01.svg);
      background-repeat: no-repeat;
      background-size: contain;
      aspect-ratio: 683.42 / 843.35;
      content: '';
      display: block;
      position: absolute;
      right: calc(math.div(293, 1920) * 100vw * -1);
      top: calc(math.div(279, 1920) * 100vw * -1);
      width: (math.div(683.42, 1920) * 100vw);
      z-index: 11;

      @media (max-width: 1100px) {
        right: calc(math.div(130, 1100) * 100vw * -1);
        top: calc(math.div(66.3, 375) * 100vw);
        width: math.div(500, 1100) * 100vw;
      }

      @media (max-width: 375px) {
        right: calc(math.div(87.1, 375) * 100vw * -1);
        width: math.div(238, 375) * 100vw;
      }
    }

    &::after {
      aspect-ratio: 869.52 / 643.91;
      bottom: calc(math.div(403, 1920) * 100vw * -1);
      background-image: url(./cover-img02.svg);
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      position: absolute;
      right: calc(math.div(256.5, 1920) * 100vw * -1);
      width: math.div(869.52, 1920) * 100vw;
    }
  }
  
  &__tagline {
    font-size: clamp(1.5rem, 1.288rem + 0.91vw, 2.375rem);
    font-weight: 700;
    margin: 0;
    position: absolute;
    top: 265px;
    right: clamp(2.5rem, 1.59rem + 3.88vw, 6.25rem);
    writing-mode: vertical-rl;
    z-index: 15;

    @media (max-width: 1100px) and (min-width: 782px) {
      top: 200px;
    }

    @media (max-width: 781px) {
      top: 127px;
    }
  }

  &__pickup-articles {
    bottom: 10px;
    left: 10px;
    position: absolute;
    margin-top: 2em;
    width: clamp(12.5rem, 8.708rem + 16.18vw, 28.125rem);
    min-width: 300px;
    z-index: 10;

    h4 {
      background-color: var(--wp--preset--color--white);
      border-radius: 10px;
      font-size: clamp(0.938rem, 0.375rem + 2.4vw, 1.875rem);
      font-weight: 700;
      letter-spacing: 0.05em;
      margin: 0;
      padding: clamp(0.625rem, 0.1rem + 2.24vw, 1.5rem) var(--wp--preset--spacing--size-30) clamp(0.625rem, 0.1rem + 2.24vw, 1.5rem);
      text-align: center;
    }

    ul {
      list-style: disc inside;
      margin: 10px 0 0;
      
      li {
        color: #555;
        margin-bottom: 0.5em;

        a,
        span {
          background-color: var(--wp--preset--color--white);
          border-radius: 10px;
          color: var(--wp--preset--color--navy-black);
          display: block;
          font-size: clamp(0.875rem, 0.725rem + 0.64vw, 1.125rem);
          font-weight: 700;
          padding: clamp(0.938rem, 0.375rem + 2.4vw, 1.875rem);
        }

        a {
          position: relative;
          text-decoration: none;
          transition: background-color .3s;

          &:hover {
            background-color: var(--wp--preset--color--pale-yellow);
          }

          &::after {
            background-image: url(./icon-link.svg);
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            display: block;
            height: 26px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translate(0, -50%);
            width: 26px;
          }
        }
      }
    }
  }

  &__carousel {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;

    &--item {
      background-position: center;
      background-size: cover;
      height: 100%;
      left: 0;
      mask-position: right bottom;
      mask-repeat: no-repeat;
      mask-size: cover;
      position: absolute;
      top: 0;
      width: 100%;

      @media (max-width: 781px) {
        background-position: center left;
        mask-position: center bottom;
      }
    }
  }

  &__top {
    background-image: url(./cover-top.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    min-height: 488px;
    padding: math.percentage(math.div(488, 1920)) 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    @media (max-width: 1000px) {
      padding: math.percentage(math.div(205, 375)) 0 0;
    }

    @media (max-width: 781px) {
      min-height: auto;
    }
  }
} 